 .container {
  font-family: Arial, sans-serif;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.heading {
  text-align: center;
  color: #5076ff;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 900;
  
}
.table{
  min-width: fit-content;
}
.tableHeader {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 1fr 1fr 2fr;
  background-color:  #5076FF;
  padding: 1rem 1rem;
  font-weight: bold;
  border-radius:0.6rem;
  gap: 2rem;
  text-wrap:nowrap;
  justify-items: center;
}

.tableRow {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 1fr 1fr 2fr;
  align-items: center;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
  gap: 2rem;
  justify-items: center;
  
}
.name{

    width: 8rem; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.tableRow > span{
  text-wrap: nowrap;
}
.tableRow:nth-child(even) {
  background: #EDEDED;
  border-radius:0.6rem;
}
.tableRow:nth-child(odd) {
  background: #B3C4FF;
    border-radius:0.6rem;

}
.icon {
  margin: 0 0.5rem;
  cursor: pointer;
}
.icon:hover{
  box-shadow: 0 4px 14px 0 rgba(50, 132, 35, 0.361);
}
.statsLink {
  color: #1a73e8;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
}
.noData{
  margin:2rem;
  font-size: 2rem;
}
