.stats {
  display: flex;
  gap: 2rem;
  padding: 3rem;
}

.stats > div {
  flex: 1;
}
.container {
  /* background-color: #ededed; */
  /* min-height: 100vh; */
  /* width: 100%; */
}
.dashboardWrp {
  max-width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
