.questionContainer {
  padding: 2rem;
  width: 100%;

}
.quizName {
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 0.3rem;
  min-width: 22rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
}
.quizName ::placeholder{
  color: #9F9F9F;
}
.optionWrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.optionWrp label{
  color: #9F9F9F;
}
.optionLabel {
  font-size: 1rem;
}
.quizTypeButton {
  padding: 0.2rem 1rem;
  border: none;
  color: #9F9F9F;
  background: #fff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btnsWrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.btnsWrp button {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #00000040;
  cursor: pointer;
  flex: 1;
}

.btnsWrp button[type="submit"] {
  background: #60b84b;
}
