.addQuestionContainer {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}
.quizName {
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 0.3rem;
  min-width: 30rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
}
.quizName ::placeholder{
  color: #9F9F9F;
}
.optionWrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  justify-content: space-between;
}
.optionWrp label{
  color: #9F9F9F;
}
.optionLabel {
  font-size: 1rem;
}
.quizTypeButton {
  padding: 0.3rem 1rem;
  border: none;
  color: #9F9F9F;
  background: #fff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 0.3rem;
  cursor: pointer;
}
.quizTypeButton:hover{
  box-shadow: 0 4px 14px 0 rgba(50, 132, 35, 0.361);
}
.btnsWrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.btnsWrp button {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #00000040;
  cursor: pointer;
  flex: 1;
}

.nextBtn {
  background: #60b84b !important;
  color: #FFF !important;
}
.selected{
  background: #60b84b;
  color: #FFF;
}
.error{
  margin: 1rem 0rem 0rem 1rem;
  color: red;
  font-weight: 600;
}